################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Makkonen/.vs
/Makkonen/Makkonen/obj
/HeidiMakkonen/.vs/HeidiMakkonen/v15
/HeidiMakkonen/HeidiMakkonen/obj
