
@{
    ViewData["Title"] = "Blogi";
}

<style>
    body {
        font-size: 15px;
        margin-right: 350px;
        margin-left: 50px;
        text-align: justify;
        border-width: 5px;
        border-right-style: ridge;
        border-color: #bae9c5;
        height: 150px;
    }

    h2 {
        font-size:23px;
    }

    footer p {
        font-size: 10px;
    }
</style>

<h2>Blogi</h2>

@{
    string[] tiedostoNimet = System.IO.Directory.GetFiles("Blogi", "*.html");

    foreach (string nimi in tiedostoNimet)
    {
        string sisältö = System.IO.File.ReadAllText(nimi);

        <p>&nbsp;</p>
        <hr />
        <p>&nbsp;</p>
        <div>@Html.Raw(sisältö)</div>
    }
}
<!--
    Jani Jäveläinen
-->