
@{
    ViewData["Title"] = "Harrastukset";
}

<style>
    body {
        font-size: 15px;
        margin-right: 340px;
        margin-left: 50px;
        text-align: justify;
        border-width: 5px;
        border-right-style: ridge;
        border-color: #c9dec0;
        height: 1048px;
    }

    h2 {
        font-size: 23px;
    }
    footer p {
        font-size: 10px;
    }
</style>

<h2>Harrastukset</h2>
<br />
<p>
    Harrastukset. Oih ja voih. Niitä on ollut ja ne ovat vaihdelleet, mutta voisi sanoa, että olen melko uskollinen olio tässäkin asiassa. Aloitin hyvin pienenä lapsena baletin. Se oli aika koomista raskaahkon ruumiinrakenteeni takia, mutta minkäs äitini oli tekemään, kun tyttö asian päättäväisesti ilmoitti. Seitsemän vuotiaana aloitin yleisurheilun. Se oli hyvä päätös, sillä se toi kiinnostuksen liikuntaan loppuelämäksi ja oli ehkä balettia sopivampaa minulle. Enkä ollut huono, voitin monia piirimestaruuksia ja sain vahvan itsetunnon myös kilpailun myötä. Tanssi pysyi elämässä jazz-tanssin muodossa jokusen kauden. Lopulta yleisurheilu jäi. Lähinnä pitkien harrastusmatkojen takia, jotka piti polkupyörällä kulkea, toisaalta kilpailuvietin kuolemisen myötä. Haluaisin edelleen harrastaa lajeja, mutten halua kilpailla.
    <br />
    <br />
    Vuodet kuluivat ilman säännöllisiä harrasteita. Koulu ja ystävät olivat tärkeämpiä. Lopulta löysin juoksun ja kympin lenkki taittuikin neljä kertaa viikossa. Talvella vaihdoin juoksun hiihtoon (silloin talvet olivat vielä talvia). Kuntosalillekin löysin tieni ja meistä onkin tullut hieno on/off -pari. Opinnot alkoivat ja opiskelijaelämä sekä vuorotyö veivät jälleen voiton. Epäsäännöllisen säännöllinen liikunta pysyi silti mukana.
    <br />
    <br />
    Tälläkin hetkellä hamuan salille tai lenkille enkä sano, ettei minulla olisi aikaa. Mutta jokin asiassa mättää, sillä en koe saavani energiaa liikunnasta. Johtuneeko siitä, että kaikki pitää aina niin täysillä tai ehkä aavistuksen heikohkosta syömisestä… Joka tapauksessa olen ”velvollisuudet ensin” -tyyppi, ja tarvitsen energiani talon remontointiin ja opiskeluun. Ei siis ole nyt tarpeeksi energiaa kaikkeen.
    <br />
    <br />
    Moottoripyörät. Olen arka huimapää. Halusin teini-iässä mopon. Siis oikean mopon. Vanhemmat olisivat mahdollisesti suostuneet skootteriin. No eihän sellainen minulle kelvannut, koska ei siinä ollut edes vaihteita, joita vaihtaa!! Niinpä tuohduksissani tokaisin, että ostan sitten isona itse moottoripyörän ja hommaan sen ennen asuntolainaa. Lauseen loppu oli tarkoitettu äidilleni, koska hän on vielä enemmän järki-ihminen kuin minä. Ja niin minä sitten menin autokouluun 26-vuotiaana ajamaan A-korttia. Ensimmäinen pyörä oli pieni 600 Honda, jonka myin parin vuoden kuluttua tylsänä pois. Muutama vuosi eteenpäin hommasin miehen kanssa samanlaiset pyörät ja nyt molemmilla on vanhat 1100 zetorit alla. No ainakaan meillä ei ole tuulipuvuissa samoja kuoseja.
    <br />
    <br />
    Pidän itseäni arkana huimapäänä siksi, että voin kyllä kokeilla mitä vain, kunhan pidän sitä itse turvallisena. Moottoripyörällä minä itse päätän, miten kovalla vauhdilla hurautan mutkaan ja millaisen riskin otan. Nyt jos edes mietit vaahtoavasi nopeusrajoituksista, niin droppaa se ajatus. Me kaikki olemme joskus ajaneet vähän yli. En ole kaahari, mutten myöskään hidasteena tiellä.
    <br />
    <br />
    Arkuus on mielestäni myös sitä, että koska pidän harrastustani edelleen kovin miesvaltaisena, koen että naisena minua tuijotetaan. Hyvällä ja pahalla. Sillä ei ole merkitystä. Muiden katseet saavat minut jännittämään ja koen, että mokaaminen (pyörän tumppaaminen esimerkiksi) olisi jollain muotoa kohtalokasta. Hassua, miten ihminen voi olla itsevarma ja kuitenkin toisissa asioissa niin epävarma. Silti nautin ajamisesta ja aion jatkaa sitä vastaisuudessakin.
    <br />
    <br />
    Mistä haaveilen? Haaveilen tanssimisesta. En yleisesti ottaen ehdi aktiivisesti seurata mitään TV-ohjelmaa, mutta Tanssii tähtien kanssa on se, jonka katson vaikka nauhalta. Haaveilen soutamisesta. Olen jo ilmoittanut miehelle, että viimeistään remonttien päätyttyä hommaan itselleni kilpasoutuveneen, yhdelle. Minun olisi myös periaatteen vuoksi soudettava Sulkavan suursoudut jonain päivänä, isäni teki sen monesti ja veljeni kerran tai kahdesti. Enhän voi jäädä huonommaksi. Haaveilen kutomisesta. Taitojen palauttamisesta muistiin lähinnä. Vaatinee hieman aikaa ja energiaa vaikka olisi muutoin melko helppoa toteuttaa tälläkin hetkellä. Haaveilen lukemisesta. Ennen luin sängyssä ja luin paljon. Nyt tilanne on se, että kun pää saavuttaa tyynyn, silmät ovat jo kiinni. Jonain päivänä jälleen. Aika helppoja haaveita toteutettavaksi!


</p>

