@{
    ViewData["Title"] = "Etusivu";
}


<style>

    body {
        font-size: 15px;
        margin-right: 350px;
        margin-left: 50px;
        text-align: justify;
        border-width: 5px;
        border-right-style: ridge;
        border-color:#bae9c5;
        height: 468px;
    }

    h1 {
        font-size: 23px;
    }
    footer p {
        font-size: 10px;
    }

    

</style>

<body>
   
    <h1> Hei lukija!</h1>

    <p>
        Kuka tekee itselleen kotisivut ja miksi? Pidin ajatusta alkuun hieman tökerönä, mutta oli keksittävä demotyön aihe ja sovellettava siihen opittua. Palataan siis alkuun, siihen mistä kaikki lähti.
        <br / >
        <br / >
        Päätin irtisanoutua vanhasta työstä ja alkaa rohkeasti pohtia uutta suuntaa työelämälle. Rakas siskoni heitti ilmoille koodauksen ja minä repesin täyteen nauruun! Kuka ehdottaa ”foliohatulle” elämää ja työtä tietokoneen kanssa? Tarkemmin asiaa pohdittuani, totesin työnkuvan olevan juuri sitä, mitä olen hakenut. Tai olin kyllä kuvitellut kirjoittavani enemmän pitkää raporttimuotoista tekstiä kuin koodia…
        <br / >
        <br / >

        Tuumasta toimeen. Pääsin TE-toimiston kautta kahden kuukauden intensiivikurssille Code Bootcampille, jonka järjestäjänä toimi Saranen Consulting Oy. Siirtymistä uudelle uralle ei helpottanut seikka, että olin valittu vain loogisten testien perusteella ilman mitään aiempaa kokemusta. Ja tässä sitä nyt ollaan, demotyötä tekemässä.
        <br / >
        <br / >
        Kotisivujen tarkoituksena on siis lähinnä palvella mahdollisia työnantajia osaamisen näyttönä, mutta kun kerran tällaiset sivut tekee, niin tehdään sitten kunnolla. Päätin laajentaa kertomalla ”siviiliminästä” omakotitalon remontin ja harrastusten kautta. ”Blogiminässä” pääset tutustumaan kärkkääseen kieleeni. Elä ota kaikkea niin vakavasti, mutta jos otat, ole reilusti yhteydessä ja avaa keskustelu kanssani.
    </p>
</body>