
@{
    ViewData["Title"] = "Koulutus";
}

<style>
    body {
        font-size: 15px;
        margin-right: 350px;
        margin-left: 50px;
        text-align: justify;
        border-width: 5px;
        border-right-style: ridge;
        border-color: #c9dec0;
        height: 468px;
    }

    h2 {
        font-size: 23px;
    }
    footer p {
        font-size: 10px;
    }
</style>

<h2>Koulutus</h2>
<br />
<p>
    Olen valmistunut vuonna 2010 valtiotieteiden maisteriksi talous- ja sosiaalihistoriasta. Sivuaineinani oli yleinen valtio-oppi sekä EU-sivuainekokonaisuus. Tässä vaiheessa kuvittelin vielä pääseväni johonkin hallinnolliseen tehtävään. Mikäli olisin osannut ennustaa tulevaisuutta, olisin valinnut viestinnän ja vaikkapa sosiaalipolitiikan tai sosiologian.
    <br />
    <br />
    Gradun tein mielipidekirjoituksissa esiintyneistä kannanotoista Sabran ja Shatilan vuoden 1982 kansanmurhaan. Keräsin kirjoituksia suomalaisista sanomalehdistä, vertailin ja loin neliömallinmukaisen teorian. Kirjoitustyössä meni kolme viikkoa, joten on turha sanoa, että lopputyötä pitää hioa vuosia. Toki merkityksellistä on, millaisen arvosanan haluaa. Itse aloin olla siinä pisteessä, että halusin vain paperit ulos ja kunnon töihin. Minulle oli selvää, etten luo tutkijan uraa itselleni.
    Kaiken kaikkiaan tärkeintä itselleni oli ensinnäkin valmistua ja toiseksi valmistua hyvin arvosanoin (gradua lukuun ottamatta).<br />
    <br />
    <br />
    Koulutuksia olen käynyt monenlaisia. Viimeisin oli Excelin perusteet 2013. Taskusta löytyy niin anniskelu- kuin hygieniapassia, kursseja tieliikennelaista, turvallisuusasioista ja varastohallinnasta. Näitä en aio sen kummemmin listata, koska en pidä niitä kovin merkityksellisinä uuden tulevan työni kannalta. Enkä koe tarvetta esittää omaa oppimishaluani ja aktiivisuuttani kurssien listaamisen kautta. Olen aktiivinen pitämään yllä osaamistani ja olen aina halukas oppimaan uutta. Mikäli asia kuitenkin kovin kiinnostaa, löytyy osa kursseista LinkedIn-profiilistani, osa on vain kysyttävä suoraan minulta.



</p>

