
@{
    ViewData["Title"] = "Taloprojekti";
}

<style>
    body {
        font-size: 15px;
        margin-right: 340px;
        margin-left: 50px;
        text-align: justify;
        border-width: 5px;
        border-right-style: ridge;
        border-color: #bae9c5;
        height: 812px;
    }

    h2 {
        font-size: 23px;
    }
    footer p {
        font-size: 10px;
</style>

<h2>Taloprojekti</h2>
<p>
    Tämän aloittaminen vaatinee pienen pohjustuksen, miten ollaan tähän remonttihommaan päädytty. Seurustelin kivan miehen kanssa ja puhuimme tulevaisuudesta. Tosiasiassa se meni niin, että odotin auton katsastuksessa ja päädyin jotenkin katsomaan taloja aikani kuluksi. Löysin ihanan yksilön ja laitoin miehelle kuvan siitä. Näin alkoi talon etsintä. Halusimme vanhan omakotitalon, jossa saisimme itse tehdä remonttia. Lopulta mieheni vei minut katsomaan taloa, josta olin kieltäytynyt hautausmaan takia. ”Mä en hautausmaata aio katsella keittiön ikkunasta!”, olin kommentoinut. Kuvatkin olivat surkeita (ei yhtään sisäkuvaa edes) eikä talo näyttänyt lainkaan kunnoltaan hyvältä. Kun pääsimme kylätielle, kysyin autossa ”ei kai tää vaan oo se hautausmaapaikka?”. Onneksi tulimme katsomaan. Kuvien puute selittyi sisälle astuttaessa: paljon tavaraa, paljon roskia. Mutta aihio osoittautui terveeksi ja tontti oli yksi suurimmista ratkaisevista asioista. Meillä on järveen oma ranta. Toin vielä muodon vuoksi äitini katsomaan taloa. Hänellä oli yhtä hyvä tunne paikasta kuin meillä.
    <br />
    <br />
    Nyt ollaan kolmisen vuotta tässä asusteltu ja remontin keskellä eletään edelleen. Ei haittaa. Välillä jaksetaan puurtaa ja välillä vedetään uunin pankolla päiväunia. Moni on välillä ihmetellyt verkkaista menoa ja moni on ihmetellyt vanhan ostamista. Eikö olisi ollut helpompaa vaikka rakentaa mieleinen? Olisi toki, mutta me halusimme vanhan. Kunnolla rakennetun, hengittävän talon, josta voimme vanhaa kunnioittaen muokata omamme. Toki omat ongelmansa tässä on myös. Jos ne haluaa ongelmaksi mieltää. Aina kun miettii jonkin asian muuttamista, on hormi tiellä. Toisaalta juuri tämä huonejärjestys ja hormin keskeinen paikka ovat niitä asioita, joista pidän. Tarkoituksemme ei ole muuttaa kaikkea, mutta haluamme modernisoida toimintoja. Parhaiten tilannetta mielestäni kuvaa keittiö. Se on ”nykyvaatimusten” mukainen höystettynä 1950-luvun tyylisillä välitilan laatoilla. Keskikerroksen katot kuorittiin halltex-verhoilusta, mutta paneloinnin sijaan jätettiin raakalaudalle. Seiniin on vedetty uudet pinkopahvit, lattiasta on poistettu muovimatto ja vanha lautalattia on hiottu ja maalattu. Kylpyhuoneessa ei ole mitään vanhaa. Kylpyhuonetta ei edes ollut 1950-luvulla! Se oli rakennettu myöhemmin, arviona 1980-luku…
    <br />
    <br />
    Aion ehdottomasti jatkaa remontista kertomista, rehellisesti ja asioita kaunistelematta. Liitän kuvia mukaan, kunhan ehdin. Demotyöni ei vaadi täydellistä sisältöä, mutta haluan silti jatkaa sivujen tekemistä sekä täydentämistä. Toteutan tässä samalla yhtä haavettani, no en nyt sentään kirjaa kirjoita, mutta kaipa tällaista dokumentointia voi kutsua nykyaikaiseksi kirjaksi.
    <br />
    <br />
    Yhden asian paikan tärkeydestä meille haluan vielä jakaa sinulle lukija. Me nimittäin menimme naimisiin omalla pihallamme, omalla rannalla. Järjestimme tupaantuliaiset ja kah, pappi saapui paikalle. Tästä päivästä kirjoitan takuuvarmasti blogiin! Pointtina asian esille tuomisessa on se, että äitini on aina sanonut, ettei asuntoon saa kiintyä liiaksi. Se on vain materiaa loppujen lopuksi. Oikeassahan hän on, mutta tuo hääpäivä teki tästä minulle niin tärkeän ja rakkaan, etten halua edes kuvitella tilannetta, jossa olisi luovutettava ja lähdettävä. Aina kun katson pihalle, palaan ajassa taaksepäin ja muistan tuon päivän. Toki olemalla realisti, puhun aina siitä, että muutamme muualle, kun emme enää jaksa hoitaa taloa. En myöskään pidä lasten velvollisuutena ottaa tätä taakakseen. He saavat elää elämänsä kuten haluavat.



</p>

