
@{
    ViewData["Title"] = "Tulevaisuus";
}
<style>
    body {
        font-size: 15px;
        margin-right: 350px;
        margin-left: 50px;
        text-align: justify;
        border-width: 5px;
        border-right-style: ridge;
        border-color: #c9dec0;
        height: 490px;
    }

    h2 {
        font-size: 23px;
    }
    footer p {
        font-size: 10px;
</style>

<h2>Tulevaisuus</h2>
<br />
<p>
    Tulevaisuuttaan on vaikea ennustaa. Olen nyt vihdoin päässyt taas siihen pisteeseen, että tiedän mitä haluan. Tai ainakin melkein tiedän. En osaa vielä sanoa, mihin positioon haluaisin, koska tällä hetkellä kiinnostaa kaikki. Backendit ja frontendit, testaukset, tekniset avut. Kaikki. Mutta koska omaan jollain muotoa visuaalista silmää, saatan perehtyä enemmän asiakasrajapintaan. Toisaalta en halua luopua tai jättää oppimatta myös taustatyötä. Joka tapauksessa ohjelmistojen kanssa pelailu on nyt suuntana ja pysyy niin kauan, kunnes koodaamme itsemme tarpeettomiksi.
    <br />
    <br />
    Uskon koulutukseni ja työkokemukseni luovan melko mielenkiintoisen taustan kehitykselleni sekä tulevalle työnkuvalleni. Koulutuksen merkitystä en korosta sen sisällön kautta, vaan asioiden sekä kokonaisuuksien hahmottamisen kautta. En ole koskaan tyytynyt selitykseen, miksi jokin tehdään kuten tehdään, pelkällä kuittauksella ”koska niin on aina tehty”, vaan haluan tietää tarkemmin. Jos minulle annetaan mahdollisuus nähdä asioiden taakse, ymmärrän kokonaisuuden ja syy-yhteydet ja se ihan totta sanoakseni auttaa työnteossa. Pystyn tietenkin toimimaan ilman kaikkea tietoa, mutta laaja kokonaisuuden hallinta parantaa kehitystyötä ja työtulosta. Mahdollisesti.
    <br />
    <br />
    Työkokemuksen puolesta uskon yllä olevan lailla auttavan minua. Huoltamolla oli koko ajan tekemistä, monesti monta asiaa yhtä aikaa kesken tai meneillään. On mahtavaa saada keskittyä vain yhteen asiaan, mutta yhtä luontevasti siirryn asiasta toiseen ja kolmanteen tarpeen vaatiessa. Multitaskaus ei ole kaikkien hommaa, se vaatii todellista keskittymistä ja jatkuvaa asioiden organisointia sekä priorisointia pään sisällä.

</p>

