
@{
    ViewData["Title"] = "Työura";
}

<style>
    body {
        font-size: 15px;
        margin-right: 340px;
        margin-left: 50px;
        text-align: justify;
        border-width: 5px;
        border-right-style: ridge;
        border-color: #c9dec0;
        height: 940px;
    }

    h2 {
        font-size: 23px;
    }
    footer p {
        font-size: 10px;
</style>


<h2>Työura</h2>
<br />

<p>
    Työurani alkoi jo ala-asteella jakaessani ystäväni kanssa mainoksia. Siitä jatkoin isäni urheiluliikkeeseen. Lukion käytyäni oletukseni työpaikan hankkimisesta oli aavistuksen vanhanaikainen; kävelin yrityksiin sisälle ja kyselin töitä. Lopulta päädyin Alkoon kyselemään työpaikkaa ja sainkin sen sieltä. Ensimmäinen oma työpaikka! Alkon hommia yhtään väheksymättä, koin sen kuitenkin olevan melko yksitoikkoista ja koska pääsykokeet olivat tulossa, päädyin irtisanoutumaan ja keskittymään lukemiseen.
    <br />
    <br />
    Opiskelijaelämä ilman rahaa on tylsää. Ja koska en ollut tottunut kituuttamaan pennejä, oli aika työllistyä ainakin kesän ajaksi. Hakeuduin niin H&M:lle kuin Shellille. Valitsin Shellin ajatellen, että yritys voisi olla työllistävä ja uraani kehittävä jatkossakin. Aloitin työskentelyn toukokuussa vuonna 2005 Shelltransilla. Koska työvoimaa tarvittiin, tein syksyllä toistaiseksi voimassaolevan sopimuksen. Keväällä 2006 Shelltrans siirtyi kauppiasomistukseen ja siirryin vanhana työntekijänä Tamoils Oy:lle. Vuonna 2008 onni potkaisi ja sain huoltamovastaavan paikan. Kyseisen paikan liiketoiminta kuitenkin lopetettiin vuoden kuluttua, jolloin siirryin toiselle toimipisteelle tavalliseksi huoltamotyöntekijäksi. Vuodet kuluivat ja minä valmistuin. Kesällä 2011 irtisanoin itseni, jotta voisin keskittyä täysillä työnhakuun. Otin silti vastaan logistiikkatyöntekijän paikan DSV:n varastolla Ametron listoilla. En onnistunut saamaan oman alan työtä ja palasin Shellille vuoden 2012 alussa huoltamovastaavan pestiin. Samalla aloitin harrastuksena järjestyksenvalvojan työt Helsingin Messukeskuksessa Securitaksen listoilla.
    <br />
    <br />
    Vuonna 2014 päätin taas, että on aika tehdä jotakin muuta. Siinä vaiheessa halusin vain päästä pois asiakaspalvelusta ihan mihin muuhun työhön vain. Minusta vain ei ole liukuhihnapalvelijaksi, vaikka nautinkin suuresti muiden auttamisesta.
    <br />
    <br />
    Sain työtä Helsingin kaupungilta pysäköinnintarkastajana. Viihdyin työssä, mutta edelleen aivoni tarvitsivat enemmän. Enemmän!! Lopulta neljän vuoden kuluttua päätin jälleen lähteä. Luovuin omaehtoisesti virasta, jota monet ihmettelivät. Pysyvää työpaikkaa tärkeämpänä pidän sen mielekkyyttä, haastavuutta ja vaihtelevuutta.
    <br />
    <br />
    Nyt ollaan tässä, uuden uran alussa. Alkuun hieman epäilin, että voisin olla tietsikkanörtti, mutta hienosti olen uponnut suohon. Jokainen vapaahetki tekisi mieli istua koneen ääreen ja opetella lisää. Aivan mahtava tunne olla haastettuna jokainen hetki, miettiä, pähkäillä, kokeilla, testata. Vihdoin olen löytänyt paikkani, jossa saan oppia uutta jatkuvasti enkä taatusti tylsisty. Toki kunnioitan rutiineja ja vaalin niistä monia, mutta työskentelyssä on oltava myös paljon mielenkiintoisia kehittämiskohteita.
    <br />
    <br />
    Entisistä työpaikoistani olen oppinut monia asioita. Ensinnäkin olen itsenäinen työskentelijä vahvuuksina yhteistyö muiden kanssa. Rakastan pientä, joskus isompaakin kiirettä, sillä se todella saa veren virtaamaan ja ajatukset juoksemaan. Organisoin kaiken, töiden tehtävälistan järjestyksestä siivouskaapin sisältöön. Olen yleensä asioiden edellä ja aina ajoissa – tai no ihan viimeistään varttia ennen deadlinea. Kliseisenä asiana olen tietenkin täydellisyyteen pyrkivä; siedän heikosti huonosti tehtyä työtä, mutta tulen toimeen sen kanssa. Pidän eritoten auttamisesta ja uusien perehdyttämisestä. Voinen siis sanoa, että kärsivällisyyteni on kehittynyt erinomaisesti. Me kaikki olemme olleet joskus harjoittelijoita ja se vain pitää hyväksyä.

    







</p>
