@{
    ViewData["Title"] = "Työelämä";
}

<style>
    body {
        font-size: 15px;
        margin-right: 350px;
        margin-left: 50px;
        text-align: justify;
        border-width: 5px;
        border-right-style: ridge;
        border-color: #c9dec0;
        height: 468px;
    }

    h2 {
        font-size: 23px;
    }
    footer p {
        font-size: 10px;
</style>

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
