@{
    ViewData["Title"] = "Yhteystiedot";
}

<style>

    body {
        font-size: 15px;
        margin-right: 350px;
        margin-left: 50px;
        text-align: justify;
        margin-top: 30px;
        border-width: 5px;
        border-right-style: ridge;
        border-color: #c9dec0;
        height: 188px;
    }

    h2 {
        font-size: 23px;
    }

    footer p {
        font-size: 10px;
    }

    
</style>

<p>
    Yhteydenottolomake tuloillaan. Siihen asti voit kirjoitella suoraan meiliin.
</p>
<br />
<br />


<!--<form action="makkonenheidi82@gmail.com" method="post">
    Nimi:       <input type="text" name="name"><br>
    <br />
    Sähköposti: <input type="text" name="email"><br>
    <br />
    Viesti:     <input type="text" name="viesti"><br />
    <br />
    <input type="submit">
</form>

<br />
<br />
-->
<address>
    <strong>Heidi Makkonen</strong><br>
    <a href="mailto:#">makkonenheidi82@gmail.com</a>
</address>